h3, h2 {
  margin: 0;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  margin-right: 2px;
}

.formHelp {
  font-style: italic;
  font-size: 0.8rem;
  color: grey;
}

.visibilityOff {
  visibility: hidden;
}

.visibilityOn {
  visibility: visible;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.formBox {
  border: 1px solid #D22D40;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.answerBox {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
}

.box {
  border-radius: 5px;
  padding: 10px;
}