h3, h2 {
  margin: 0;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  margin-right: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

button {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin: 5px 5px 5px 0px;
  padding: 8px;
}

button:hover {
  color: #000000;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin: 5px 5px 5px 0px;
  padding: 8px;
  cursor: pointer;
}

.visibilityOff {
  visibility: hidden;
}

.visibilityOn {
  visibility: visible;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.formBox {
  border: 1px solid #D22D40;
  background-color: #D22D40;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.formHelp {
  font-style: italic;
  font-size: 0.8rem;
  color: #e3e3e3;
}

.answerBox {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.box {
  border-radius: 5px;
  padding: 0px;
}